body {
    background: #247b7b;
    color: white;
    font-size: 30px;
    text-align: center;
}
h1{
    font-size: 57px;
}

#wrapper {
    width: 600px;
    height: 770px;
    margin: 60px 0px 0px 630px;
    padding: 20px 40px 20px 40px;
    border-radius: 10px 20px 10px 20px;
    background: #247b7b;
    box-shadow: inset 8px 8px 16px #1c6060,
              inset -8px -8px 16px #2c9696;
  }

.guessfield {
    line-height: 30px;
}

#subt {
    font-size: 25px;
    margin-top: 10px;
    font-style: italic;
    font-weight: 700;
    padding: 5px;
    border: none;
}

.lowOrHi {
    color: black;
}